venv/
*.pyc
__pycache__/
.ipynb_checkpoints/
*.log
*.dat
*.fits
*.csv
*.xlsx
*.hdf5
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.tiff
*.bmp
*.svg
*.eps
*.ps
*.mp4
*.avi
*.mov
*.mkv
*.mp3
*.wav
*.flac
*.ogg
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.7z
*.rar
*.gz
*.bz2
*.xz
*.dmg
*.iso
*.exe
*.dll
*.so
*.dylib
*.o
*.a
*.out
*.class
*.jar
*.war
*.ear
*.swp
*.swo
*.bak
*.tmp
*.temp
*.log
*.cache
*.aux
*.toc
*.idx
*.ind
*.lof
*.lot
*.bbl
*.blg
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv
*.pdfsync
*.pdf_tex
*.dvi
*.ps
*.eps
*.synctex
*.bbl
*.blg
*.brf
*.nlo
*.nls
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.pre
*.snm
*.sout
*.sym
*.tdo
*.thm
*.upa
*.upb
*.vrb
*.xdy
*.xmpdata
*.xmpi
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv
*.pdfsync
*.pdf_tex
*.dvi
*.ps
*.eps
*.synctex
*.bbl
*.blg
*.brf
*.nlo
*.nls
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.pre
*.snm
*.sout
*.sym
*.tdo
*.thm
*.upa
*.upb
*.vrb
*.xdy
*.xmpdata
*.xmpi